@model SistemaInventario.Modelos.Bodega
@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Bodega";
}
<!--Crear el formulario para envio de informacion -->
<form method="post">
    <div style="padding-left:15%;padding-rigth:15%;padding-bottom:inherit.4rem;">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
        </div>
        <!-- Validacion del id con C# para cambiar el titulo -->
        @if(Model.Id != 0)
        {
            titulo = "Actualizar Bodega";
            <input typeof="hidden" asp-action="Id" />
        }
        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>
            <!-- Creamos el dib del nombre -->
            <div class="row mb-2 mt-2">
                <div class="form-group clo-md-6">
                    <label>Nombre</label>
                    <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre de la bodega"/>
                    <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
                <!-- Creamos el div del Descripcion -->
                <div class="row mb-2 mt-2">
                    <div class="form-group clo-md-6">
                        <label>Descripcion</label>
                        <input type="text" asp-for="Descripcion" class="form-control" placeholder="Descripcion de la bodega" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <!-- Creamos el dib del estado -->
                    <div class="row mb-2 mt-2">
                        <div class="form-group clo-md-6">
                            <label>Estado</label>
                            <select asp-for="Estado" class="form-select">
                                <option value="true">Activo</option>
                                <option value="false">Inactivo</option>
                            </select>
                            <span asp-validation-for="Estado" class="text-danger"></span>
                        </div>
                    <!-- Mostraremos la vista parcial -->
                    <br />
                    <div>
                        @if (Model.Id != 0)
                        {
                            <partial name="_BotonesActualizarYRegresar" model="Model.Id"/>
                        }
                        else
                        {
                            <partial name="_BotonesCrearYRegresar"/>
                        }  

                        }
                    </div>

    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}

